@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}
body {
    background-color: whitesmoke;
    min-width: 900px;
}

.landing1 {
    display: flex;
align-items: center;

}

.leftside-logo {
    display: flex;
    justify-content: left;
    position: absolute;
    top: 218px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    width: 500px;
    user-select: none;
}

.leftside-logo img{
    filter: invert(99%) sepia(0%) saturate(3%) hue-rotate(187deg) brightness(105%) contrast(100%);
}
.leftside-logo p {
    font-family: "Norse-Bold", 'Times New Roman', Times, serif;
    font-size: 100px;
    margin: 0;
    color: white;
}
.rightHeader {
    margin: 2em;
}
.inputcontainer {
background-color: cyan;
padding: 2em;
}
.inputcontainer div {
    display: flex;
    flex-direction: column;
}
.signup {
    border-radius: 3px;
    color: #c9eaff;
    background-color: #024bb8;
    padding: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;

}

input:valid {
    border-color: #024bb8;

}
input:invalid {
    border-color: red;
}

.login {
    margin-left: 2em;
}